*{
    margin:0;
    padding:0%
}
p{
    text-align: left;
    font-size: 70px;
    letter-spacing: 7px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
body{
    margin:0;
    padding:0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:rgb(207, 196, 184);
}
.pic img{
    width: 1600px;
    height: 500px;;
}
.lign-list{
    text-align: center;
    display: flex;
    justify-content:space-between;
    text-align: center;

}
.lign-list:hover{
    text-decoration: none;
}
.link{
    margin-right: 100px;
    margin-left:100px;
}
.lign-list a link:hover{
    text-decoration: none;
    color:antiquewhite;
}
